{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <a id="dw" href="{% static 'xlsxs/hojaTrabajo.xlsx'%}" hidden>DONWLOAD Hoja de TRABAJO!!</a>
    <select name="categoria" id="id_categoria">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
    </select></p>
    <input id="numero_digitos" type="number" value="2">

    <br><br>
    <pre id="respuesta">Lista: </pre>
    <br>
    <div id='answere1'></div>
    <script src="{% static 'javaScript/archivo.js' %}"></script>
    <button onclick="consulta()">
        Mensajes Enviados
    </button>
    <script>
        function cambiar() {
            var a = "{% static 'xlsxs/hojaTrabajo.xlsx'%}";
            return a;
        }
    </script>

</body>

</html>