<!DOCTYPE html>
<html>

<head>
    <title>Tabla de Saldos</title>
</head>
<body>

    <h1>Tabla de Saldos</h1>
    {% if tabla %}
        <table>
            <thead>
                <tr>
                    <th> DEBE 01 </th>
                    <th> HABER 01</th>
                    <th> DEBE  02</th>
                    <th> HABER 02 </th>
                    <th> DEBE  03</th>
                    <th> HABER 03 </th>
                    <th> DEBE  04</th>
                    <th> HABER 04 </th>                
                </tr>
            </thead>
            <tbody>
                {% for row in tabla %}
                <tr>
                    {% for item in row %}
                        <td>{{item}}</td>
                    {% endfor %}  
                </tr>    
                {% endfor %}   
            </tbody>
        </table>
        <!-- buton que diga descargar ficha de saldos hasta le periodo -->
    {% else %}
        <p>No existen registros! en la tabla de saldos</p>
    {% endif %}
        
</body>

</html>